{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}
{% block title %} Sign In {% endblock %}

{% block content %}
	<div class="container p-1 m-1">
		<form method="POST">
			{% csrf_token %}
			<legend>
			<h1>Sign In</h1>
			</legend>

			<fieldset>
				{{ form|crispy }}
			</fieldset>
			<button class="btn btn-secondary">Sign In</button>
			<div class="card-footer mt-2">
				<p class="text-muted">
					Forget Password ? <a class="text-dark font-weight-bold" href="{% url 'password_change' %}">Reset</a>
				</p>
			</div>
		</form>
	</div>
{% endblock %}